i have a couple of questions:

how many tickets are sold (on average) per day
what is the relationship between the type of vehicle and the number of vehicles sold for it per day

<b>data points?</b>

how many tickets did a vehicle sell on a particular day on a particular route

so.. post take one

the question up there started me out but it would seem it didnt take me where I wanted.. I'm going at it again.

In [2]:
import pandas as pd
import numpy as np

from sklearn import utils

import re

In [4]:
data = pd.read_csv('data/train_data.csv')

In [5]:
# answering quick question 1
# get the number of tickets sold per vehicle per trip
# make counter object
from collections import Counter
ticket_counter = Counter(data['ride_id'])

In [6]:
# reduce the occurence of values across the dataset
# since a unique ride_id means that vehicle is making a trip
# count the number of tickets sold for that trip

# new_data contains most informative characteristics of a particular trip
new_data = data.drop(columns=['seat_number', 'payment_method', 'payment_receipt']).drop_duplicates()

In [7]:
# ticket count
new_data['ticket_count'] = ticket_counter.values()

In [8]:
new_data = new_data[:-1]
new_data.tail()

,ride_id,travel_date,travel_time,travel_from,travel_to,car_type,max_capacity,ticket_count
51575,13812,20-04-18,23:10,Ndhiwa,Nairobi,Bus,49.0,11
51605,13813,20-04-18,7:05,Ndhiwa,Nairobi,Bus,49.0,11
51639,13825,20-04-18,7:09,Rongo,Nairobi,Bus,49.0,1
51640,13826,20-04-18,8:00,Awendo,Nairobi,Bus,49.0,1
51644,14304,14-11-17,5:10,Kisii,Nairobi,Bus,49.0,1

In [9]:
def vehicle_convert(v_type):
    if v_type == "Bus":
        return 1
    else:
        return 0

def from_convert(source):
    sources = ['Awendo', 'Homa Bay', 'Kehancha', 'Kendu Bay',
              'Keroka', 'Kijauri', 'Kisii', 'Mbita', 'Migori', 'Ndhiwa', 
              'Nyachenge', 'Rodi', 'Rongo', 'Sirare', 'Keumbu',
              'Oyugis', 'Sori']
    return sources.index(source)

In [10]:
# prep a dataset for machine learning
from sklearn import utils

dataset = utils.Bunch()
dataset.target = new_data['ticket_count']
dud_data = new_data.drop(columns=['ride_id', 'travel_to', 'ticket_count'])

dud_data['travel_from'] = [from_convert(i) for i in dud_data['travel_from']]
dud_data['car_type'] = [vehicle_convert(i) for i in dud_data['car_type']]
dud_data['date_time'] = [pd.to_datetime(i).toordinal() for i in dud_data['travel_date']+"T"+dud_data['travel_time']]

dataset.data = dud_data.drop(columns=['travel_date', 'travel_time'])

In [21]:
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error


model = LogisticRegression()
x_train, x_test, y_train, y_test = train_test_split(dataset.data, dataset.target, test_size=0.33)
model.fit(x_train, y_train)
print(mean_squared_error(model.predict(x_test), y_test))

131.66941347552108